<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>uts.isd.controller.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPaymentMethodServlet</servlet-name>
        <servlet-class>uts.isd.controller.AddPaymentMethodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentMethodServlet</servlet-name>
        <servlet-class>uts.isd.controller.PaymentMethodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPaymentMethodServlet</servlet-name>
        <servlet-class>uts.isd.controller.ViewPaymentMethodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPaymentMethodServlet</servlet-name>
        <url-pattern>/AddPaymentMethodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentMethodServlet</servlet-name>
        <url-pattern>/PaymentMethodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPaymentMethodServlet</servlet-name>
        <url-pattern>/ViewPaymentMethodServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
